<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
      body{
        {
  background: lightblue url("https://data.whicdn.com/images/299646930/original.png?t=1508439429") no-repeat fixed center;
} 
        color:white;
      }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">

 </head>

  <body>
  <h1>Login</h1>
  <form action="login" method="post">
  username: <input type="text" name="username" /><br>
  password: <input type="password" name="password" /><br>
  <input type="submit" name="Submit" value="Submit"/>
  </form> 

  </body>

</html>

